<div class="box">
  <div class="container">
    <div class="flex-center p-4">
      <a href="">
        <img
          class="logo"
          src="https://res.cloudinary.com/dr1ntj4ar/image/upload/v1718352051/logo_spl1tq.png"
          alt="logo-ich"
        />
      </a>
    </div>
    <div class="separator"></div>
    <div class="message-container">
      <p>Welcome to I.C.H!</p>
      <p>In order to get started, you need to verify your email address.</p>
    </div>

    <div class="flex-center">
      <a href="" class="btn" target="_blank">Verify email address</a>
    </div>

    <div class="message-container">
      <p>Best,</p>
      <p>I.C.H TRADING PRODUCTION CO., LTD</p>
    </div>
  </div>
</div>
